<form class="formtastic users_onboarding" action="/admin/users/bulk_create" method="post">
<input type="hidden" name="authenticity_token" value= <%= current_admin_user  %>>
    <fieldset class="inputs">
        <ol>
            <li class="text input optional">
                <label for="account_emails" class="label">Email ids (firstname lastname email): </label>
                <textarea rows="5" id="email_ids" name="email_ids" style="margin: 0px 1018px 0px 0px; width: 563px; height: 165px;"></textarea>
            </li>
        </ol>
    </fieldset>
    <fieldset class="actions">
        <ol>
            <li class="action input_action">
            <input type="submit" name="commit" value="Add Users">
            </li>
        </ol>
    </fieldset>
</form>


