<!DOCTYPE html>
<html lang="EN" xml:lang="en">
  <head>
    <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
    <title>Private Jet Booking App</title>
  </head>

  <body>
    <div>
    	<div>
    		<div>
    			<a href="">Private Jet Booking App</a>
    		</div>
    		<p>hi</p>
    		<p>thank you for choosing us, OTP</p>
    		<h2><%=@otp%></h2>
    		<p>Private Jet Booking App</p>
    		<div>
    			<p>Private Jet Booking App</p>
    		</div>
    	</div>
    </div>
  </body>
</html>
